body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a4a831;
}

header {
    padding: 15px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav a {
    margin: 0 15px;
    color: #ececec;
    font-weight: bolder;
    text-decoration: none;
}

header img {
    width: 100px;
}
.texto-sobre {
    padding: 50px 80px;
    text-align: center;
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
}
.hero {
    color: #ffffff;
    text-align: center;
    padding: 117px 20px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.hero h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.hero button {
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;

}

.hero button:hover {
    background-color: #45a049;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 20px;
    background-color: #fff;
}

.produtos-itens {
    text-align: center;
    background-color: #ddff97;
    border: 2px solid #86a94c;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

.produtos-itens img {
    width: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.produtos-itens button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 28px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    
}

.produtos-itens button:hover {
    background-color: #45a049;
}

.formulario {
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4d5;
}

.formulario input {
    padding: 8px;
    width: 300px;
    margin: 10px 0;
}

.formulario button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/*ressponsividade*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header img {
        width: 80px;
        margin-bottom: 10px;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    header nav a {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero h3 {
        font-size: 1rem;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .formulario input {
        width: 100%;
    }
}


@media (max-width: 480px) {
    header nav {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .produtos {
        grid-template-columns: 1fr;
    }

    .produtos-itens img {
        height: 120px;
    }

    .formulario input {
        width: 100%;
    }

    footer {
        font-size: 0.9rem;
    }
}