body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a4a831;
}

header {
    padding: 15px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav a {
    margin: 0 15px;
    color: #ececec;
    font-weight: bolder;
    text-decoration: none;
}

header img {
    width: 100px;
}

.hero {
    color: #ffffff;
    text-align: center;
    padding: 117px 20px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

.hero h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.hero button {
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;

}

.hero button:hover {
    background-color: #45a049;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 colunas de tamanhos iguais */
    gap: 20px;
    /* Espaçamento entre os itens */
    padding: 50px 20px;
    background-color: #fff;
}

.produtos-itens {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* Garante alinhamento vertical */
    align-items: center;
    justify-content: space-between;
    /* Distribui o conteúdo */
    height: 100%;
    /* Ajuste automático do tamanho */
}

.produtos-itens img {
    width: auto;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.produtos-itens button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.produtos-itens button:hover {
    background-color: #45a049;
}

/* Formulário */
.form-container {
    padding: 50px;
    text-align: center;
    background-color: #f4f4f4d5;
}

.form-container input {
    padding: 10px;
    width: 300px;
    margin: 10px 0;
}

.form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}